# Database
TEXTS_DB_PATH=data/db/app.db
TEXTS_DB_DUMP_PATH=data/dumps/backup.sql
TEXTS_DB_DUMP_INTERVAL_SEC=60

# Application
TEXTS_TOP_K=5
TEXTS_MARGIN_THRESHOLD=0.1
TEXTS_PROBABILITY_THRESHOLD=0.1
ANNOTATORS_INTENTS_CONFIDENCE_THRESHOLD=0.4

# Paths
TEXTS_INTENTS_PATH=data/intents
TEXTS_ANNOTATORS_PATH=data/annotators.yaml

# Admin
TEXTS_ADMIN_PASSWORD=admin123

# Logging
LOG_LEVEL=INFO
LOG_FILE=logs/app.log
